/* Imported Typefaces */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefinslab';
    src: url('../fonts/Josefinslab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Typography Styles */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 1.6;
}

h1 {
    font-family: 'Josefinslab', serif;
    font-size: 3.75rem; /* 60px */
    margin: 1.125rem; /* 18px */
    text-align: center;
    letter-spacing: 0.125rem; /* 2px */
    border-bottom: 2px solid #000;
}

h2 {
    font-family: 'Josefinslab', serif;
    font-size: 1.5rem; /* 24px */
    letter-spacing: 0.125rem; /* 2px */
    margin-bottom: 0.5rem;
}

p {
    font-size: 0.75rem; /* 12px */
    letter-spacing: 0.03125rem; /* 0.5px */
    word-spacing: 0.125rem; /* 2px */
    margin-bottom: 1rem;
}

h2 + p {
    text-indent: 1.5rem; /* 24px */
}

li {
    font-size: 0.75rem; /* 12px */
    letter-spacing: 0.03125rem; /* 0.5px */
    word-spacing: 0.125rem; /* 2px */
    margin-bottom: 0.5rem;
}

figcaption {
    font-size: 0.75rem; /* 12px */
    margin-bottom: 2rem; /* 32px */
    text-align: center;
}

/* Link Styling */
a {
    outline: none;
}

a:link,
a:visited {
    color: #33658A;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

/* List Styling */
ul, ol {
    margin-top: 1rem; /* 16px */
    margin-bottom: 1rem; /* 16px */
    margin-left: 1.5rem;
    margin-right: 0;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-alpha;
}

.long-list a:hover {
    text-transform: uppercase;
}

/* Navigation Menu */
nav {
    padding-left: 0;
    margin-top: 0.25rem; /* 4px */
    border-right: 2px solid #000;
    padding-right: 1rem;
}

nav a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    text-align: center;
    font-size: 1.125rem; /* 18px */
    margin-bottom: 1rem; /* 24px */
    border: 1px solid #33658A;
    color: #33658A;
}

nav a:focus,
nav a:hover {
    color: #FFF;
    background-color: #33658A;
}

nav a:active {
    color: #FFF;
    background-color: #000;
}

/* Content Layout */
main {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

main section {
    width: 48%;
}

main section figure {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    border-top: 2px solid #000;
    padding: 1rem 0;
    margin-top: 2rem;
}
