/* General Styles */
body {
    font-family: 'Garamond', serif;
    background-image: url('../images/wrinkled-white-paper-background.jpg');
    background-size: cover;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

header, section, footer {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1 {
    text-transform: uppercase;
    font-size: 6rem;
    margin: 0;
    letter-spacing: .5rem;
    color: darkred;
    text-shadow: .09375rem .09375rem .09375rem #000;
    font-family: 'Alfa Slab One', Garamond, serif;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
    letter-spacing: .25rem;
    color: darkred;
    text-shadow: .09375rem .09375rem .09375rem #000;
    font-family: 'Alfa Slab One', Garamond, serif;
    text-align: center;
    font-weight: normal;
}

h3 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
    color: black;
    font-family: 'Alfa Slab One', Garamond, serif;
    text-align: center;
    font-weight: normal;
}

h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 0.25rem;
    color: darkred;
    font-family: 'Alfa Slab One', Garamond, serif;
    text-align: center;
    font-weight: normal;
    padding-bottom: 1.125rem;
}

h5 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 0.25rem;
    padding: 0.5rem;
    color: #fff;
    background-color: #333;
    font-family: 'Alfa Slab One', Garamond, serif;
    text-align: center;
    font-weight: normal;
}

/* Section & Paragraph */
section {
    margin-top: 0.5rem;
}

p {
    margin: 1rem auto;
    padding: 0 1rem;
    width: 90%;
    text-align: left;
}

/* Image & Figure */
img {
    width: 100%;
    margin: 0 auto;
    max-width: 50rem;
}

figure {
    margin-bottom: 2rem;
}

figcaption {
    padding-top: 0.5rem;
    text-align: right;
}

/* Footer */
footer {
    padding: 1rem;
    border-top: 2rem solid #333;
}

/* Span inside h4 */
h4 span {
    padding: 0 0.5rem;
}
